# General
*.log
*.env
__pycache__/
*.pyc
*.pyo
*.db
.DS_Store

# Node
node_modules/
build/
dist/

# Python
venv/
#.env/
*.sqlite3

# Django
/static/
/media/
*.sqlite3

# React
frontend/build/

# VSCode
.vscode/

# Others
*.swp
*.swo


backend/tts_cache/
backend/media/